
 /* Global Styles */
* {
  margin: 0;
  padding: 0;
}
body {
  color: #FFF;
  font-family: sans-serif;
  text-align: center;
}
.intro-text {
  color: #000;
}
/* Layout Styles */
.page {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.page-body {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.content {
  background: #F44336;
  padding: 20px;
}
.rightsidebar, .leftsidebar {
  background: #FF9800;
  padding: 20px;
}
.rightsidebar {
  order: -1;
}
.header, .footer {
  flex: none;
  background: #263238;
  padding: 20px;
}
/* Layout responsive */
@media  all and (min-width: 768px)  {
  .page-body {
    flex-direction: row;
  }
  .content {
    flex: 1;
  }
  .rightsidebar, .leftsidebar {
    flex: 0 0 200px;
  }
}
